# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# misc
*.sh#
*.root
*.csv
*.C~
*.sh~
*.prdf
*.txt
*.pdf
*.so*
*.la*
*.pcm
.vscode/settings.json
particledecaytest
particledecaytest.cc
particledecaytest2 

#folders
pioncode/

sPHENIXplots.C
sPHENIXplots.CZone.Identifier
sPhenixStyle.C
sPhenixStyle.CZone.Identifier
sPhenixStyle.h
sPhenixStyle.hZone.Identifier
eta_resolution
pion_resolution
gen_res
guiconfig/run_counter.json
guiconfig/run_counter.json
dst_calo_waveform.list
dst_truth.list
